flows.json
[{"id":"edd5e219.8f7bc","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"1f29f194.b5b13e","type":"ui_switch","z":"edd5e219.8f7bc","name":"","label":"switch","tooltip":"","group":"487dcdf2.2be514","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":570,"y":280,"wires":[["cada1dde.00fc3"]]},{"id":"cada1dde.00fc3","type":"ui_led","z":"edd5e219.8f7bc","order":10,"group":"5b4f3965.8b8338","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":790,"y":280,"wires":[]},{"id":"68eaf57a.26d31c","type":"aedes broker","z":"edd5e219.8f7bc","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":180,"y":160,"wires":[[],[]]},{"id":"24c49a0b.189876","type":"mqtt in","z":"edd5e219.8f7bc","name":"","topic":"teste/timestamp","qos":"0","datatype":"auto","broker":"c3b7ac59.32b62","x":140,"y":400,"wires":[["d540a7ba.30d208"]]},{"id":"2c8730c2.266c2","type":"mqtt out","z":"edd5e219.8f7bc","name":"","topic":"teste/timestamp","qos":"","retain":"","broker":"c3b7ac59.32b62","x":350,"y":480,"wires":[]},{"id":"d540a7ba.30d208","type":"debug","z":"edd5e219.8f7bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":400,"wires":[]},{"id":"c6078904.d74948","type":"inject","z":"edd5e219.8f7bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["2c8730c2.266c2"]]},{"id":"487dcdf2.2be514","type":"ui_group","z":"","name":"Sensores","tab":"b1cbdefa.52fbd","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"5b4f3965.8b8338","type":"ui_group","z":"","name":"Atuadores","tab":"b1cbdefa.52fbd","order":3,"disp":true,"width":"3","collapse":false,"className":""},{"id":"c3b7ac59.32b62","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b1cbdefa.52fbd","type":"ui_tab","z":"","name":"Casa","icon":"dashboard","disabled":false,"hidden":false}]